*{
    margin: 0px;
    padding: 0px;

} 

{
   box-sizing: border-box;    
}

body{
    margin: 32px;
    font-family: sans-serif;
    
}
h2{
    font-family: serif;
    font-size: 40px;
    padding-left: 32px;
    padding-top: 32px;
    padding: 30px; 
    
    
}
.container{
    height: 100%;
    margin-top: 30px;
}
.first-section{
}
div#general{
    width: 100%;
    height: 760px;
    background-color: darkgrey;
    margin-bottom: 15px;
}
#animation-left{
    width: 50%;
    height: 250px;
    float: left;
    background-color: darkgray;
    margin-bottom: 15px;
}

#animation-right{
    width: 50%;
    height: 250px;
    float: right;
    background-color: #eeeeee;
    margin-bottom: 15px;
}

#animation-full{
    clear: both;
    width: 100%;
    height: 250px; 
    background-color: darkgray;
}

.formulario{
    width: 50%;
    min-width: 150px;
    max-width: 100%;
    margin: auto;
    margin-top:30px;
    padding: 90px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
    position: relative;
    font-family: sans-serif;
}
.formulario__titulo{
    margin-top: 0;
    text-align: center;
}
.formulario__input,.formulario__label{
    display: block;
    margin: 10px;
    width: :100%;
    font-size: 1.3em;}
    
}
.formulario__submit{
    display: block;
    margin: 0px;
    width: :100%;
    font-size: 1.3em;}
    
}
.formulario__input{
    display: block;
    padding: 0px;
    text-align: center: 
    background: transparent;
    
    border: 1px solid rgba(0,0,0,0.3);
}
.formulario__label{
    padding-left: 0;
    z-index: 0;
}
.arrow-container{
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 60px;
}
.down-arrow {
    clear: both;
    border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
    //rota la flecha
  transform: scale(6) rotate(45deg); 
  -webkit-transform: scale(6) rotate(45deg);
    margin-left: 50%;
    
}
